version: 1.0
author: 
module: systemctl_luf
description: Kelly Brazil - JsonConverter - Parsing the output of the command systemctl list-unit-files
os: unix
type: process
requirements:
disk_only: false
no_multithread: false
processor_type: 
  - external
processor_os: unix
tool: 
  path: cat
  cmd: "{input_file} | jc --systemctl-luf > {output_file}"
input:
  type: file
  name: systemctl_list-unit-files.txt
  path: live_response/*
output:
  type: single_file
  format: json
  output_file: "{endpoint_name}--{input_file}.jsonl"
endpoint: "extract_uac\/(.*?)\/"