[submodule "OSIR/bin/json2splunk"]
	path = OSIR/bin/json2splunk
	url = https://github.com/maxspl/json2splunk.git
	branch = main
[submodule "OSIR/bin/dumpzilla"]
	path = OSIR/bin/dumpzilla
	url = https://github.com/Busindre/dumpzilla
[submodule "OSIR/bin/hindsight"]
	path = OSIR/bin/hindsight
	url = https://github.com/obsidianforensics/hindsight.git
[submodule "OSIR/bin/hayabusa/rules"]
	path = OSIR/bin/hayabusa/rules
	url = https://github.com/Yamato-Security/hayabusa-rules
