[submodule "OSIR/bin/json2splunk"]
	path = OSIR/bin/json2splunk
	url = https://github.com/maxspl/json2splunk.git
	branch = main
[submodule "OSIR/bin/hayabusa"]
	path = OSIR/bin/hayabusa
	url = https://github.com/Yamato-Security/hayabusa
[submodule "OSIR/bin/hayabusa/rules"]
 	path = OSIR/bin/hayabusa/rules
 	url = https://github.com/Yamato-Security/hayabusa-rules
[submodule "OSIR/bin/BrowserParser"]
	path = OSIR/bin/BrowserParser
	url = https://github.com/seba7236/BrowserParser
