[submodule "OSIR/bin/json2splunk"]
    path = OSIR/bin/json2splunk
    url = https://github.com/maxspl/json2splunk.git
    branch = main
[submodule "OSIR/bin/BrowserParser"]
	path = OSIR/bin/BrowserParser
	url = https://github.com/seba7236/BrowserParser
[submodule "OSIR/bin/hayabusa/rules"]
	path = OSIR/bin/hayabusa/rules
	url = https://github.com/Yamato-Security/hayabusa-rules

[submodule "OSIR/bin/log2pstree"]
	path = OSIR/bin/log2pstree
	url = https://github.com/maxspl/log2pstree
[submodule "OSIR/bin/volatility3"]
	path = OSIR/bin/volatility3
	url = https://github.com/volatilityfoundation/volatility3.git
[submodule "OSIR/bin/dwarf2json"]
	path = OSIR/bin/dwarf2json
	url = https://github.com/volatilityfoundation/dwarf2json
