# Vagrant and virtual machine files
.vagrant/
setup/windows_setup/.vagrant/
setup/windows_setup/.vagrant/machines/dfir_box
setup/windows_setup/src/dockur_storage/
setup/windows_setup/src/win_iso/

# Logs
OSIR.log
OSIR/log/OSIR.log
OSIR/log/celery.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Configuration files
setup/conf/agent.yml
setup/conf/master_c.yml
agent.yml
master.yml

# Environment files
setup/agent/.env
setup/master/.env
.venv

# Data and storage directories
setup/splunk/data/
postgres_data/
share/smb_test_file
share/cases/*

# THOR binaries cannot be shared
OSIR/bin/thor/
OSIR/bin/thor-lite/

# Splunk private app
setup/splunk/apps/DFIR_ORC/

*.egg-info/
*.egg-info
.vscode/settings.json
setup/offline_release/*
OSIR/src/osir_lib/build/*
OSIR/src/osir_web/build/*
OSIR/src/osir_service/build/*
OSIR/src/osir_api/build/*
OSIR/src/osir_client/build/*
share/log/task_traces.jsonl
test.py
share/log/celery.log
OSIR/src/osir_web/osir_web/pages/dynamic/index.html
