SPLUNK_PASSWORD=DFIR_passwd
SPLUNK_LICENCE=Free
ELASTIC_PASSWORD=DFIR_passwd
ELASTIC_PORT=9200
KIBANA_PORT=5601
RABBITMQ_USER=dfir
RABBITMQ_PASSWORD=dfir
POSTGRES_USER=dfir
POSTGRES_PASSWORD=dfir
PGADMIN_USER=dfir@OSIR.com
PGADMIN_PASSWORD=dfir