pywinrm
pandas
tqdm
pyyaml
smbprotocol
celery
flower
redis
watchdog
psycopg2
streamlit
polars
mpire
puremagic
lz4
psutil
chardet
streamlit-extras
jc
tabulate # for https://github.com/seba7236/BrowserParser
plyvel==1.5.1 # for https://github.com/seba7236/BrowserParser
protobuf==3.20.0 # for https://github.com/seba7236/BrowserParser